body {
    background-color: #86b6fe;
    /* overflow: hidden; */
}

div {
    border: solid black 1px;
    text-align: center;
}

img {
    width: 100%;
}

/* #main-container {
    height: 500px;
} */

.col {
    height: auto;
    margin-top: 30px;
    background-color: azure;
    margin-bottom: 30px;
}

#profile-photo-box {
    position: relative;
    margin: auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: solid white 20px;
    background-image: url('profile2.jpg');
    background-size: cover;
}