body {
    background-color: #ffffff;
    /* overflow: hidden; */
    font-family: 'ABeeZee', sans-serif;
}

p {
    font-size: 30px;
}

div {
    /* border: solid black 1px; */
    text-align: center;
}

img {
    width: 100%;
}

.col {
    height: auto;
    margin-top: 30px;
    background-color: rgb(255, 237, 78);
    margin-bottom: 30px;
}

#profile-photo-box {
    position: relative;
    margin: auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: solid white 20px;
    background-image: url('images/profile2.jpg');
    background-size: cover;
}

.graduation-image {
    background-image: url('images/isle1.png');
    background-size: cover;
    position: relative;
    height: 400px;
    width: 100%;
}